@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    width: auto;
    height: 100vh;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
}

nav{
    position: relative;
    display: flex;
}

nav ul{
    display: inline-block;
}