@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    width: auto;
    height: 100vh;
    position: relative;
}

nav{
    position: relative;
    display: flex;
    width: 100%;
    line-height: 80px;
    padding: 5px 0;
    background: #CD9B1B;
    justify-content: space-between;
}

header{
    margin-left: 30px;
}

header span{
    position: relative;
    font-size: 30px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below -42px linear-gradient(transparent, #0004)
}

header span{
    animation: animate 5s linear infinite;
}

header span:nth-child(even){
    animation-delay: 0.4s;
}

@keyframes animate{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
        color: #0e3742;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color:#fff;
        text-shadow:  0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4,
        0 0 400px #03bcf4,
        0 0 600px #03bcf4;    
    }
} 
nav ul li{
    display: inline-block;
    margin-right: 80px;
}

nav ul li a{
    color: black;
    position: relative;
}

nav ul li a::after{
    position: absolute;
    content: '';
    width: 20%;
    height: 3px;
    left: 30px;
    bottom: -5.75%;
    left: 50%;
    transform: translate(-50%);
    background: #0e3742;
    transition: width 0.3s;
}

nav ul li a:hover::after{
    width: 50%;
}
/* 
@media(min-width:1024px){
    body{
        background-color: blue;
    }
    .header{
        display: flex;
        flex-basis: 100%;
        padding-left: 20px;
    }
    nav{
        font-size: 15px;
    }
} */

.maincontent{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 40px;
}

.maincontent img{
    width: 500px;
    margin-left: 50px;
}

.maincontent p{
    padding-left: 100px;
    margin-right: 50px;
}

.maincontent .animalcont{
    background: #CD9B1B;
    width: auto;
}

.moreland{
    text-align: center;
}

.moreland h1{
    box-shadow:  0 0 20px #CD9B1B;
}

.learn{
    margin-top: 5%;
    position: relative;
}

.learnnow{
    position: relative;
    margin-left: 40px;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 30px;
}

.learnnow::before{
    position: absolute;
    content: '';
    width: 80px;
    height: 5px;
    left: 45px;
    bottom: 3.75%;
    transform: translate(-50%);
    background: #CD9B1B;
}

.learn .animalsnames #animals{
    height: 15vh;
    background: #CD9B1B;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3vh 0;
}

.learn .animalsnames #animals span{
    border: 1px solid black;
    padding: 20px;
    background: gray;
    align-items: center;
}

.learn .animalsnames #animals span{
    position: relative;
    z-index: 1;
    font-size: 2em;
    color: #fff;
    opacity:0.5;
    text-transform:uppercase;
    letter-spacing:4px;
    transition: 0.5s;
}

.learn .animalsnames #animals span:hover{
    opacity: 1;
}

.ourAnimals{
    height: 550px;
    padding: 30px;
    font-size: 24px;
    /* text-align: center; */
    margin-left: 100px;
    display: flex;
}

.ourAnimals img{
    width: 400px;
    height: 300px;
}

.ourAnimals .fairytale{
    margin-top: 50px;
    margin-left: 25px;
    width: auto;
}
/* 
.grades .grade a{
    width: 50px;
    display: inline-block;
}

.grades a{
    position: relative;
    padding: 20px 150px;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0,0,0,0.5);
    margin: 40px;
    transition: 1s;
    overflow: hidden;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0004);
}

@media only screen and (max-width:460px){
    .grades a{
        padding: 2px 4px;
        background: rgba(234, 123,020,0.5);
        margin: 10px;
        display: inline-block;
    }
}

.grades a:hover{
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 60px var(--clr),
    0 0 100px var(--clr); 
}

.grades a::before{
    content: '';
    position: absolute;
    width:40px;
    height: 400%;
    background:var(--clr);
    transition: 1s;
    animation: animate 2s linear infinite;
    animation-delay: calc(0.33s * var(--i));
}

.grades a:hover::before{
    width:40px;
}


@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.grades a::after{
    content: '';
    position:absolute;
    inset: 4px;
    background: #0e1538;
    transition: 0.5s;
}

.grades a:hover::after{
    background:var(--clr);
}

.grades a span{
    position: relative;
    z-index: 1;
    font-size: 2em;
    color: #fff;
    opacity:0.5;
    text-transform:uppercase;
    letter-spacing:4px;
    transition: 0.5s;
}

.grades a:hover span{
    opacity: 1;
} */

.grades{
    margin-top: -150px;
}

.grades .grade{
    position: relative;
    margin-left: 40px;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 30px;
}

.grades .grade::before{
    position: absolute;
    content: '';
    width: 80px;
    height: 5px;
    left: 45px;
    bottom: 3.75%;
    transform: translate(-50%);
    background: #CD9B1B;
}