@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    width: auto;
    height: 100vh;
    position: relative;
}

nav{
    position: relative;
    display: flex;
    width: 100%;
    line-height: 80px;
    padding: 5px 0;
    background: #CD9B1B;
    justify-content: space-between;
}

header span{
    position: relative;
    font-size: 30px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below -42px linear-gradient(transparent, #0004)
}

header span{
    animation: animate 5s linear infinite;
}

header span:nth-child(even){
    animation-delay: 0.4s;
}

@keyframes animate{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
        color: #0e3742;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color:#fff;
        text-shadow:  0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4,
        0 0 400px #03bcf4;    
    }
} 
nav ul li{
    display: inline-block;
    margin-right: 80px;
}

nav ul li a{
    color: black;
    position: relative;
}

nav ul li a::after{
    position: absolute;
    content: '';
    width: 20%;
    height: 3px;
    left: 30px;
    bottom: -5.75%;
    left: 50%;
    transform: translate(-50%);
    background: #0e3742;
    transition: width 0.3s;
}

nav ul li a:hover::after{
    width: 50%;
}
/* 
@media(min-width:1024px){
    body{
        background-color: blue;
    }
    .header{
        display: flex;
        flex-basis: 100%;
        padding-left: 20px;
    }
    nav{
        font-size: 15px;
    }
} */

.maincontent{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 40px;
}

.maincontent img{
    width: 500px;
    margin-left: 50px;
}

.maincontent p{
    padding-left: 100px;
    margin-right: 50px;
}

.moreland{
    margin-top: 5%;
    text-align: center;
}

.moreland h1{
    box-shadow:  0 0 20px #CD9B1B;
}